[user]
	email = artyom.shimko@gmail.com
	name = Artem Shimko
[sendemail]
  ; setup for using git send-email; prompts for password
  smtpuser = a.shimko.dev@gmail.com
  smtpserver = smtp.gmail.com
  smtpencryption = tls
  smtpserverport = 587
  smtpPass = yxgqgeblbnfrtjpc
[url "git@github.com:"]
	insteadOf = https://github.com/
